<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lucashos.tmdb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TmdbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_claquete"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_claquete_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    </application>

</manifest>